/* 登陆界面样式 */
.main-container {
    position: relative;
}
.main-container .login-bg {
    width: 100%;
    height: 100%;
    position: absolute;
}
.main-container .passport-login-container .login-ba .login-width, .main-container .passport-signup-container .login-ba .login-width {
    width: 1140px;
    height: 588px;
    position: relative;
    margin: 0 auto;
}
.main-container .passport-login-container .login-ba .login-panel, .main-container .passport-login-container .login-ba .signup-panel, .main-container .passport-signup-container .login-ba .login-panel, .main-container .passport-signup-container .login-ba .signup-panel {
    position: absolute;
    top: 99px;
    right: 0;
    width: 450px;
}
.passport-login-container .login-panel {
    width: 40%;
    margin-left: 60%;
}
.panel-default {
    border-color: #ddd;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.pull-right {
    float: right!important;
}
.btn-group-xs>.btn, .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 1px;
}

.btn-warning {
    color: #fff;
    background-color: #f99e1e;
    border-color: #f79307;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
}
.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, 
.container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, 
.nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after,
 .row:after {
    clear: both;
}
.panel-body {
    padding: 15px;
}
form {
    display: block;
    margin-top: 0em;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
.form-group {
    margin-bottom: 15px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
/* 登陆验证码 */
.btn-link:focus, .btn-link:hover {
    color: #000;
    text-decoration: none;
    background-color: transparent;
}
.btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover {
    border-color: transparent;
}
.btn.focus, .btn:focus, .btn:hover {
    color: #333;
    text-decoration: none;
}
.btn-group-sm>.btn, .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 1px;
}
/* 自动登陆 */
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], 
.radio-inline input[type=radio] {
    position: absolute;
    margin-top: 4px\9;
    margin-left: -20px;
}
input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}
input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
} 